* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    width: 70%;
  }
  
  .sidebar {
    width: 30%;
  }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(Aubackground.png);
    margin: 0;
    padding: 0;
    background-size: 100%;
}

.logo-container img {
    height: auto;
    width: 90px;
    position: fixed;
    padding-left: 20px;
    padding-top: 20px;
}

header {
    color: #000000;
    position: fixed;
    padding: 10px 0;
    float: left;
    margin-left: 110px;
    margin-top: 25px;
    font-size: 13px;
}

nav ul {
    list-style-type: none;
    padding: 10px 0;
    float: right;
    margin-right: 77px;
    margin-top: 33px
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background: #9c9c9c;
    
}

.picture-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.picture-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.picture-item {
    position: relative;
    width: 48%; /* Adjust as needed to create space between pictures */
    margin-bottom: 20px;
}

.picture-item img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.picture-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

.picture-name:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
